{template 'head_i.html'}
<script LANGUAGE="javascript">
    <!--
    function check()
    {
      if(document.myform.password.value.length<6){
        alert("{lang(password_is_too_short)}");
        document.myform.password.focus();
        return false;
    }
    if (document.myform.pwdconfirm.value!=document.myform.password.value)
    {
        alert("{lang(twicepassnosame)}")
        document.myform.password.value = ""
        document.myform.pwdconfirm.value = ""
        document.myform.password.focus()
        document.myform.password.select()
        return false
    }

    document.myform.submit.disabled=true;
}
    //-->
</script>
<div class="person-main">
    <h3 class="tit">{lang(edituserinfo)}</h3>
    <form name=myform onsubmit="return check();" action="<?php echo uri();?>" method=post>
        <ul class="person-box">
            <li><label>{lang(oldpassword)}：</label><input type="password" placeholder="{lang(oldpassword)}" value="" name="oldpassword" class="input"></li>
            <li><label>{lang(newpassword)}：</label><input type="password" placeholder="{lang(newpassword)}" value="" name="password" class="input"></li>
            <li><label>{lang(againpassword)}：</label><input type="password" placeholder="{lang(againpassword)}" value="" name="pwdconfirm" class="input"></li>
            <input type=hidden value=1 name=dosubmit>
            <li><div id='message'><span style="color:red;padding-left:80px;">{message()}</span><br></li>
        </ul>

        <input type="submit" name="submit" value="{lang(submit_on)}" class="person-btn" />
    </form>
</div>

{template 'footer_i.html'}