<!DOCTYPE html>
<html lang="en">
<head>
    <title>{lang(registered_users)}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{$skin_path}/styles/pubilc.css">
    <link rel="stylesheet" href="{$skin_path}/styles/lib/font-awesome.css">
</head>
<!--[if lt IE 9]>
<script src="scripts/lib/html5shiv.min.js"></script>
<![endif]-->
<body>
<div class="" style="border-bottom: 1px solid #eee; box-shadow: 1px 2px 3px #ddd; margin-bottom: 50px" >
    <div class="login-wrap" >
        <h1 class="logo"><a class="logo-text" href="">求婚总动员</a> </h1>
        <p class="login-tit">用户注册</p>
        <div class="contact-top r">
            <p style="font-size: 15px; margin-bottom: 5px">求婚总动员客服热线</p>
            <p style="font-size: 25px">023-67664582</p>
        </div>
    </div>
</div>