<div class="row">
    {loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $archive}
    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12" style="line-height: 20px;margin-bottom: 10px;">
        <a href="{$archive[url]}">
            <img alt="{$archive['stitle']}" src="{$archive['thumb']}" style="width: 100%;" onerror='this.src="{config::get('onerror_pic')}"'/>
                 <span style="font-size: 0.9em;display: inline-block;">{$archive[title]}...</span>
            <p style="color:#FF5D5B;font-size: 1em;">￥{$archive['attr2']}</p>
        </a>
    </div>
    {/loop}
</div>