<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{QUERY_STRING} ^(.*)$
    RewriteRule ^list_(\w+)/$ index.php?case=archive&act=list&catid=$1 [L]
    RewriteRule ^(\w+)/list_(\w+)/$ index.php?city=$1&case=archive&act=list&catid=$2 [L]
    RewriteRule ^(\w+)/$ index.php?city=$1 [L]
</IfModule>
