{template 'header.html'}
{if $category[$catid][image]}
<div style="width: 100%;height: 200px;background-image: url('{$category[$catid][image]}');background-position: center;background-size: cover"></div>
{/if}
<!-- 面包屑导航开始 -->
<!-- 面包屑导航结束 -->
<div class="blank10"></div>
<div class="container" style="font-size: 0.9em;">
    <span style="color: #FF5D5B">您当前的位置：</span>
    <?php  $t1=$category[$catid];?>
    {if $t1[parentid]!=0}
    <?php $t2=$category[$t1[parentid]];?>
    {if $t2[parentid]!=0}
    <?php $t3=$category[$t2[parentid]];?>
    <a href="?case=archive&act=list&catid={$t3[catid]}">{$t3[catname]}</a>>
    {/if}
    <a href="?case=archive&act=list&catid={$t2[catid]}">{$t2[catname]}</a>>
    {/if}
    <span>{$t1[catname]}</span>
</div>
<!-- 页面标题开始 -->
<div class="title">
    <div class="container">
        <div style="background: #efefef">
            {loop categories($catid) $t1}
            <a title="{$t1[catname]}" href="{$t1[url]}" class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="border:1px #efefef solid;margin-bottom: -1px;padding: 10px 0;text-align: center;display: inline-block;background: #fff;">{$t1[catname]}</a>
            {/loop}
            <div class="clear"></div>
        </div>
        <p style="border: 1px #efefef solid;font-size: 0.9em;padding:10px;white-space: inherit;line-height: 200%;">
            <span class="tags">
                <span style="margin: 0 10px;color: #999;">场景：</span>{gethottags(20)}
            </span>
        </p>
        <div class="blank30"></div>
        <h3>{$category[$catid][catname]}</h3>
        <!--<p>{$category[$catid][htmldir]}</p>-->
    </div>
</div>
<div class="clear"></div>
<!-- 页面标题结束 -->

<!-- 中部开始 -->
<div class="container">
    <div class="col-md-9">

        <ul class="list_page_1">
            <!-- 内容列表开始 -->
            {loop $archives $i $archive}
            <li>
                <div class="list_page_date">
                    <span>{=sdate($archive[adddate],'d')}</span>
                    <p>{=sdate($archive[adddate],'Y-m')}</p>
                </div>
                <div class="li_text">
                    <p><a title="{$archive[stitle]}" href="{$archive[url]}" target="_blank" class="list_page_t">{$archive[title]}</a></p>
                    <p>{cut(strip_tags($archive['introduce']),60)}… <a href="{$archive[url]}" target="_blank">[{lang(more)}]</a></p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </li>
            {/loop}
            <!-- 内容列表结束 -->
        </ul>
        <div class="blank30"></div>

        <!-- 内容列表分页开始 -->
        {if isset($pages)}
        <div class="blank30"></div>
        {category_pagination($catid)}
        <div class="blank30"></div>
        {/if}
        <!-- 内容列表分页结束 -->

    </div>



    <div class="col-md-3">

        <h3 class="t_3" style="border-left: 4px solid #FF5D5B;padding-left: 10px;">{tag_内页右侧栏目名称}</h3>
        <ul class="list_2">
            {tag_内页右侧内容列表}
        </ul>
        <div class="blank30"></div>
        <h3 class="t_3" style="border-left: 4px solid #FF5D5B;padding-left: 10px;">{tag_内页右侧栏目名称2}</h3>
        <ul class="list_2">
            {tag_内页右侧内容列表2}
        </ul>
        <div class="blank30"></div>
        <div style="text-align: center;">
            <b>访问手机版</b><br/>
            <img style="width: 70%;" src="{url('tool/qrcode')}" />
        </div>

    </div>

</div>

<div class="blank30"></div>
<!-- 页底推荐图文产品开始 -->
{tag_内容页底图文产品三条}
<!-- 页底推荐图文产品结束 -->

{template 'footer.html'}