{template 'header.html'}

<div class="container">
    <div class="blank30"></div>
    <div class="row">
        <div class="col-md-3">
            <div style="border: 1px #ddd solid;text-align: center;">
                {loop categories(25) $i $t}
                <a style="display: block;border-bottom: 1px #ddd dashed;line-height: 50px;margin-bottom: -1px;{if $catid==$t[catid]}color:#ff5d5b;{/if}" href="{$t[url]}">
                    <span style="height: 8px;display: inline-block;width: 8px;background: #ff5d5b;margin-right: 10px;"></span>{$t[catname]}
                </a>
                {/loop}
            </div>
        </div>
        <!-- 页面标题开始 -->
        <div class="col-md-9">
            <div class="title">
                <h3>{$category[$catid][catname]}</h3>
            </div>
            <!-- 页面标题结束 -->


            <!-- 中部开始 -->
            <div class="content" id="print">
                <!-- 内容 -->

                <div id="content_text" style="min-height: 400px;">
                    <!-- 内容 -->
                    <?php
                    $page = intval(front::$get['page']);
                    if($page==0)$page=1;
                    $content = $category[$catid][categorycontent];
                    $contents = preg_split('%<div style="page-break-after(.*?)</div>%si', $content);
                    if ($contents) {
                    $pages = count($contents);
                    front::$record_count = $pages * config::get('list_pagesize');
                    $category[$catid][categorycontent] = $contents[$page - 1];
                    }
                    ?>
                    {$category[$catid][categorycontent]}

                    <div class="blank30"></div>
                    {if $pages>1}
                    <!-- 内页分页 -->
                    <div class="blank10"></div>
                    <div class="pages">
                        {category_pagination($catid)}
                    </div>
                    <div class="blank30"></div>
                    {/if}
                </div>
                <!-- 内容结束 -->
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

<!-- 限定图片宽度 -->
{template 'width_max.html'}
<!-- 限定图片宽度 -->
{template 'footer.html'}