<div class="wrap">
    <dl class="hot-tag">
        <dt>热门标签: </dt>
        {gethottags(5)}
    </dl>
</div>
<footer class="footer">
    <p class="copyright">{get(site_right)} <a title="{get('sitename')}" href="{$base_url}/" style="color: #fff;">{get('sitename')}</a> <a rel="nofollow" href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank" style="color: #fff;">{get('site_icp')}</a></p>
</footer>
<script src="{$skin_path}/scripts/public.js"></script>
<script>
    $('#weixin_btn').hover(function () {
        $('.weixin-top').stop().fadeIn();
    },function () {
        $('.weixin-top').stop().fadeOut();
    });

    $('.video-list li').hover(function () {
        $(this).find('a.play-mask').stop().fadeIn();
    },function () {
        $(this).find('a.play-mask').css('display','none');
    })

    $('.discount-tab').on('click','li',function () {
        $(this).addClass('tab-on').siblings().removeClass('tab-on');
        if($(this).index() == 0){
            $('.part').css('display','none');
            $('.discount-text').css('display','block');
        }
        else if($(this).index() == 1) {
            $('.part').css('display','none');
            $('.discount-faq').css('display','block');
        }
        else if($(this).index() == 2){
            $('.part').css('display','none');
            $('.discount-comment').css('display','block');
        }
    })
</script>
</body>

</html>
