</div>
<div class="wrap">
	<!--<dl class="hot-tag">-->
		<!--<dt>热门标签: </dt> {gethottags(5)}-->
	<!--</dl>-->
	
</div>
<footer class="footer">
    <a href="<?php if($_GET['city']){echo '?city='.$_GET['city'];}else{ echo '/';} ?>" class="">{lang(homepage)}</a>
            {loop categories_nav() $t}
            <a href="{$t[url]}" class="">{$t[catname]}</a>
            {/loop}
	<p class="copyright" style="margin-top: 15px;">全国免费咨询热线：023-67664582 全国统一客户QQ：2774332212 (本网站部分图片和视频来源于网络，如有侵权，请及时联系我们删除)</p>
	<p class="copyright"><?php echo get(site_right);?> <a title="<?php echo get('sitename');?>" href="<?php echo $base_url;?>/" style="color: #fff;"><?php echo get('sitename');?></a> <a rel="nofollow" href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank" style="color: #fff;"><?php echo get('site_icp');?></a></p>
	
</footer>
<script src="{$skin_path}/scripts/public.js"></script>
<script>
	$('#weixin_btn').hover(function() {
		$('.weixin-top').stop().fadeIn();
	}, function() {
		$('.weixin-top').stop().fadeOut();
	});

	$('.video-list li').hover(function() {
		$(this).find('a.play-mask').stop().fadeIn();
	}, function() {
		$(this).find('a.play-mask').css('display', 'none');
	})

	$('.discount-tab').on('click', 'li', function() {
		$(this).addClass('tab-on').siblings().removeClass('tab-on');
		if($(this).index() == 0) {
			$('.part').css('display', 'none');
			$('.discount-text').css('display', 'block');
		} else if($(this).index() == 1) {
			$('.part').css('display', 'none');
			$('.discount-faq').css('display', 'block');
		} else if($(this).index() == 2) {
			$('.part').css('display', 'none');
			$('.discount-comment').css('display', 'block');
		}
	})
</script>
</body>

</html>