</div>
<div class="wrap">
    <dl class="hot-tag">
        <dt>热门标签: </dt>
        <?php echo gethottags(5);?>
    </dl>
    <dl class="friendly-links">
        <dt class="">友情链接: </dt>
        <?php foreach(friendlink('text',0,24) as $flink) { ?>
        <a href="<?php echo $flink['url'];?>"><?php echo $flink['name'];?></a>
        <?php } ?>
    </dl>
</div>

<footer class="footer">
    <a href="<?php if($_GET['city']){echo '?city='.$_GET['city'];}else{ echo '/';} ?>" class="">{lang(homepage)}</a>
            {loop categories_nav() $t}
            <a href="{$t[url]}" class="">{$t[catname]}</a>
            {/loop}
	<p class="copyright" style="margin-top: 15px;">全国免费咨询热线：023-67664582 全国统一客户QQ：2774332212 (本网站部分图片和视频来源于网络，如有侵权，请及时联系我们删除)</p>
	<p class="copyright"><?php echo get(site_right);?> <a title="<?php echo get('sitename');?>" href="<?php echo $base_url;?>/" style="color: #fff;"><?php echo get('sitename');?></a> <a rel="nofollow" href="http://www.miibeian.gov.cn/" rel="nofollow" target="_blank" style="color: #fff;"><?php echo get('site_icp');?></a></p>
	
</footer>
<script src="<?php echo $skin_path;?>/scripts/lib/jquery-1.8.3.min.js"></script>
<script src="<?php echo $skin_path;?>/scripts/public.js"></script>
<script>
$('#weixin_btn').hover(function() {
    $('.weixin-top').stop().fadeIn();
}, function() {
    $('.weixin-top').stop().fadeOut();
})
</script>
{template 'system/servers.html'}
</body>

</html>
