<div class="part-discount">
    <h2 class="index_h2"><img src="{$skin_path}/images/h2_tc.jpg"/></h2>
    <div class="tc-box">
        {loop archive($_catid,$_typeid,$_spid,$_area,$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $key $archive}
            <div class="tc{$key} tc-item">
                <a href="{$archive['url']}">
                    <img class="tc-pic" jh-img="an" src="{$archive[thumb]}"/>
                    <div class="pic-text-bg">
                    </div>
                    <div class="pic-text">
                        <p class="tit">{$archive['title']}</p><p class="price">￥{$archive['attr2']}元</p>
                    </div>
                </a>
            </div>
        {/loop}
    </div>
</div>