{loop archive($_catid,$_typeid,$_spid,'0,'.$_GET['city'].',0',$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $archive}
<?php if($_GET['city']){$archive[url] .= '&city='.$_GET['city'];} ?>
<dd class="aside-list">
    <img class="item-pic" src="{$archive['thumb']}" onerror='this.src="{config::get('onerror_pic')}"'/>
    <div class="item-text">
        <h3><a href="{$archive['url']}">{$archive[title]}...</a></h3>
        <p class="price">￥{$archive['attr2']}</p>
    </div>
</dd>
{/loop}
