<div class="part-case">
    <h2 class="index_h2"><img src="{$skin_path}/images/h2_al.png"/></h2>
    <div class="case-box">
        <div class="l">
            <ul class="case-tag-box">
            {loop $tags $tag}
               <li><a href="{$tag[url]}">{$tag[tagname]}</a></li>
            {/loop}
            </ul>
            <div class="case-big">
            {loop archive($_catid,$_typeid,$_spid,'0,'.$_GET['city'].',0',$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $archive}
            <?php if($_GET['city']){$archive[url] .= '&city='.$_GET['city'];} ?>
                <a href="{$archive['url']}">
                    <img jh-img="an" src="{$archive[thumb]}"/>
                    <div class="case-bg"></div>
                    <div class="case-text">
                        <p>{$archive['title']}</p>
                    </div>
                </a>
            {/loop}
            </div>

        </div>
        <ul class="r case-list">
        {loop archive($_catid,$_typeid,$_spid,'0,'.$_GET['city'].',0',$_length,$_ordertype,$_limit,$_image,$_attr1,$_son,$_wheretype,$_tpl,$_intro_len,$_istop) $key $archive}
        {if $key==0}
        {else}
        <?php if($_GET['city']){$archive[url] .= '&city='.$_GET['city'];} ?>
            <li>
                <a href="{$archive['url']}">
                    <img jh-img="an" src="{$archive[thumb]}"/>
                    <div class="case-bg"></div>
                    <div class="case-text">
                        <p>{$archive['title']}</p>
                    </div>
                </a>
            </li>
        {/if}
        {/loop}
        </ul>
    </div>
</div>