{template 'header.html'}
<link rel="stylesheet" href="{$skin_path}/styles/discount.css">
<div class="wrap">

    {template 'archive/nav.html'}

    {loop $archives $i $archive}
    <ul class="discount-list">
        <li>
            <a href="{$archive[url]}">
                <div class="discount-pic-box"><img jh-img="an" src="{$archive[thumb]}"/></div>
                <div class="discount-text">
                    <h3 class="tit">{$archive[title]}</h3>
                    <p class="desc">{cut(strip_tags($archive['introduce']),60)}… </p>
                    <p class="discount-price"><b class="price">￥{$archive['attr4']}</b><a rel="nofollow" target="_blank" href="?case=propose" "><span class="btn">预约有礼</span></a><br><em class="original">门店价：￥{$archive['attr2']}</em></p>
                    <p class="bottom">已有<b class="b">{{$archive['focus']}}</b>对新人关注</p>
                </div>
            </a>
        </li>
    </ul>
    {/loop}

       <!-- 内容列表分页开始 -->
    {if isset($pages)}
    {category_pagination($catid)}
    {/if}
    <!-- 内容列表分页结束 -->

</div>
<div style="display: none;">
{template 'footer.html'}


