{template 'header.html'}
<link rel="stylesheet" href="{$skin_path}/styles/video.css">
<div class="wrap">
    {template 'archive/nav.html'}
    <div class="" style=" float: left;width: 960px;">
    <ul class="video-list">
    {loop $archives $i $archive}
        <li>
            <div class="video-box">
                <img class="video-thumbnail" src="{$archive[thumb]}"/>
                <a class="play-mask" href="{$archive['url']}"><img src="{$skin_path}/images/play_mask.png"></a>
            </div>

            <p class="video-name">{$archive[title]}</p>
        </li>
    {/loop}
    </ul>
        <!-- 内容列表分页开始 -->
    {if isset($pages)}
    {category_pagination($catid)}
    {/if}
    <!-- 内容列表分页结束 -->
    </div>
    {template 'archive/sider.html'}

</div>
{template 'footer.html'}