{template 'header.html'}
<link rel="stylesheet" href="{$skin_path}/styles/wiki.css">
<div class="wrap">
{template 'archive/nav.html'}
    <div id="content">
    {loop $archives $i $archive}
        <article class="article">
            <div class="article-text">
                <h2 class="tit"><a href="{$archive[url]}">{$archive[title]}</a></h2>
                <time class="time"><i class="icon-time icon"></i>{$archive[adddate]}</time>
                <p class="text">{cut(strip_tags($archive['introduce']),80)}… <a href="{$archive[url]}" target="_blank">[{lang(more)}]</a></p>
            </div>
        </article>
    {/loop}

        <!-- 内容列表分页开始 -->
    {if isset($pages)}
    {category_pagination($catid)}
    {/if}
    <!-- 内容列表分页结束 -->

    </div>
{template 'archive/sider.html'}

</div>

{template 'footer.html'}