{template 'header.html'}
<link rel="stylesheet" href="{$skin_path}/styles/discount.css">
<div class="wrap">
{template 'archive/nav.html'}
    <div class="discount-detail">
        <div class="discount-top">
            <img class="l" width="500" height="360" src="{$archive['thumb']}">
            <div class="discount-info">
                <h1 class="tit">{$archive[title]}</h1>
                <div class="" style="margin: 40px 10px 20px 30px">
                <p style="margin-bottom: 40px"><b class="price">￥{$archive['attr2']}</b><span class="original">市场价：￥{$archive['attr4']}</span></p>
                <b>开通地区</b>
                <p style="color: #999; margin: 15px 0 50px 0">{$archive[introduce]}</p>
                    <a class="discount-btn" href="?case=propose">立即预定</a>
                    <a class="discount-btn" href="tencent://Message/?Uin={get('qq1')}&websiteName={get('site_url')}=&Menu=yes">在线咨询</a>
                </div>

            </div>
        </div>
    </div>
    <div class="service-flow">
        <h3 class="tit">服务流程</h3>
        <ul class="service-step">
            <li>
                <h4>1</h4>
                <p>初步定稿</p>
                <p>浪漫框架</p>
            </li>
            <li>
                <h4>2</h4>
                <p>下单预定</p>
                <p>支付定金</p>
            </li>
            <li>
                <h4>3</h4>
                <p>填写</p>
                <p>浪漫档案表</p>
            </li>
            <li>
                <h4>4</h4>
                <p>拟定详细</p>
                <p>策划方案</p>
            </li>
            <li>
                <h4>5</h4>
                <p>确认方案</p>
                <p>付预付款</p>
            </li>
            <li>
                <h4>6</h4>
                <p>统筹协调</p>
                <p>准备浪漫</p>
            </li>
            <li>
                <h4>7</h4>
                <p>现场彩排</p>
                <p>支付尾款</p>
            </li>
            <li>
                <h4>8</h4>
                <p>享受</p>
                <p>浪漫求婚</p>
            </li>
        </ul>
    </div>
    <div class="discount-content">
        <ul class="discount-tab">
            <li class="tab-on">{lang(pintro)}</li>
            <li>FAQ</li>
            <li>客户评价</li>
        </ul>
        <div class="discount-text part" style="padding:  20px">
             {$archive[content]}
        </div>
        <dl class="discount-faq part">
            <dt>问题一</dt>
            <dd>回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答</dd>
            <dt>问题一</dt>
            <dd>回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答</dd>
            <dt>问题一</dt>
            <dd>回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答</dd>
            <dt>问题一</dt>
            <dd>回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答</dd>
            <dt>问题一</dt>
            <dd>回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答</dd>
        </dl>

        <div class="discount-comment part">
            <div class="comment-person">
                <!--高速版-->
                <div id="SOHUCS" sid="请将此处替换为配置SourceID的语句"></div>
                <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
                <script type="text/javascript">
                    window.changyan.api.config({
                        appid: 'cysTl9vko',
                        conf: 'prod_65a110cff7d27a3428ef6c5db87e8a39'
                    });
                </script>
            </div>
        </div>
    </div>
      {template 'archive/sider.html'}
</div>
{template 'footer.html'}