{template 'header.html'}
<style>
    .article-near:after{
        content: '';
        clear: both;
        display: block;
    }
    .article-detail{
        width: 920px;
        float: left;
        padding-right: 15px;
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
    }
    .article-tit{
        text-align: center;
        line-height: 60px;
        font-weight: bold;
        font-size: 18px;
    }
    .article-info{
        background: #ffe6e7;
        text-align: center;
        line-height: 40px;
        color: #a82329;
    }
    .article-content{
        margin-top: 20px;
        line-height: 23px;
        color: #777;
        font-family: 宋体, SimSun;
        font-size: 14px;
    }
    .article-content img{
        margin: 8px;
    }
    .article-info .icon{
        margin: 0 8px 0 15px;
        font-size: 16px;
    }
    .article-near{
        width: 100%;
        text-align: center;
        margin-top: 40px;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 30px 0;
    }
    .article-near li{
        float: left;
        width: 46%;
        text-align: left;
        margin: 0 2%;

    }
    .article-near li em{
        background: #ff6280;
        border-radius: 5px;
        padding: 3px 10px;
        color: #fff;
    }

</style>
<div class="wrap">
{template 'archive/nav.html'}
    <div class="article-detail">
        <h1 class="article-tit">{$archive[title]}</h1>
        <p class="article-info"><i class="icon-time icon"></i>{$archive[adddate]}<i class="icon-eye-open icon"></i>{view_js($archive[aid])}</p>
        <article class="article-content">
            {$archive[content]}
        </article>
        <ul class="article-near">
            {if $archive['p']['aid']}
            <li style="text-align: right"><em>{lang(archivep)}</em>：<a href="{$archive['p']['url']}">{$archive['p']['title']}</a></li>
            {else}
            <li style="text-align: right"><em>{lang(archivep)}</em>：{lang(nopage)}
            {/if}
            {if $archive['n']['aid']}
            <li><em>{lang(archiven)}</em>：<a href="{$archive['n']['url']}">{$archive['n']['title']}</a></li>
            {else}
            <li><em>{lang(archiven)}</em>：{lang(nopage)}
            {/if}
        </ul>
    </div>
{template 'archive/sider.html'}
</div>
<div style="display: none;">
{template 'footer.html'}